codeforces/unsolved/
codeforces/tca2020/
codeforces/gym/
codeforces/gema/
cses/unsolved/
**.out
**.out.dSYM
**.DS_Store
google/
cpc/
fhc/
rpc/
testing/
experimental.cpp
csacademy/ieeextreme14
experimental.cpp
env/
.vim/
docs/
**/unsolved/
.jekyll-cache
notebook/
own/
TODO.md
