codeforces/unsolved/
codeforces/tca2020/
codeforces/gym/
codeforces/gema/
cses/unsolved/
**.out
**.out.dSYM
**.DS_Store
google/
project-euler/
cpc/
experimental.cpp
env/
.vim/
**/unsolved/
.jekyll-cache
docs/.jekyll-cache/
docs/xml/
docs/__pycache__/
docs/env/
**/__pycache__/
docs/_site/
docs/_site/*
**/.jekyll-cache
